<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>deepracer</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/flip.css">
</head>

<body>
    <figure class="lb-logo">
        <div class="flip-container">
            <div class="flip-body">
                <div class="face front">
                    <div class="lb-logo-front"><img
                            src="https://deepracer-logos.s3.ap-northeast-2.amazonaws.com/logo_circuit_challenge.png">
                    </div>
                </div>
                <div class="face back">
                    <div class="lb-logo-back"><img
                            src="https://deepracer-logos.s3.ap-northeast-2.amazonaws.com/logo_deepracer.png"></div>
                </div>
            </div>
        </div>
    </figure>
</body>

</html>

<script src="/jquery-3.3.1.min.js"></script>
<script src="/flip.js"></script>
<script>
    $(function () {
        setInterval(function () {
            flip();
        }, 5000);
    });
</script>
