<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>deepracer</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <figure class="lb-logo">
        <div>
            <img src="/deepracer.png" width="500">
        </div>
    </figure>

    <h1 class="lb-title">AWS DeepRacer League</h1>
</body>

</html>
