<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>deepracer-timer</title>
    <link rel="stylesheet" href="./timer.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <nav class="controls">
        <a href="#" id="btn_start" class="button" onClick="stopwatch.start();">Start</a>
        <a href="#" id="btn_pause" class="button" onClick="stopwatch.stop();">Pause</a>
        <a href="#" id="btn_resume" class="button hide" onClick="stopwatch.start();">Resume</a>
        <a href="#" id="btn_lap" class="button" onClick="stopwatch.lap();">Lap</a>
        <a href="#" id="btn_restart" class="button" onClick="stopwatch.restart();">Restart</a>
        <a href="#" id="btn_clear" class="button" onClick="stopwatch.clear();">Clear</a>
    </nav>
    <div class="stopwatch"></div>
    <ul class="results"></ul>
</body>
</html>

<script src="./timer.js"></script>
<script>
    var socket = io();
    socket.on('pressure', function(data) {
        stopwatch.pressure();
    });
</script>
