<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>deepracer</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <figure class="lb-logo">
        <img src="/icon-trophy.png">
    </figure>

    <h1 class="lb-title">DeepRacer Challenge</h1>

    <footer class="lb-footer"></footer>
</body>

</html>
