<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>leaderboard</title>
    <link rel="stylesheet" href="/leaderboard.css">
</head>

<body>
    <figure class="lb-img">
        <div>
            <img src="/deepracer.png" width="300">
        </div>
    </figure>

    <h1 class="lb-title lb-align-center">AWS DeepRacer League</h1>

    <div class="m-dr-leaderboard-container">
        <div class="m-leaderboard-items lb-txt-bold m-initial">
            <div class="m-header">
                <div>Position</div>
                <div>Name</div>
                <div>Time</div>
            </div>
            <div class="m-row">
                <div><span class="icon-trophy"></span> 1</div>
                <div>날밤</div>
                <div>2965.85</div>
            </div>
            <div class="m-row">
                <div><span class="icon-trophy"></span> 2</div>
                <div>Breadcentric</div>
                <div>2965.574</div>
            </div>
            <div class="m-row">
                <div><span class="icon-trophy"></span> 3</div>
                <div>nero-DNPds</div>
                <div>2965.071</div>
            </div>
            <div class="m-row">
                <div>4</div>
                <div>Etaggel</div>
                <div>2965</div>
            </div>
            <div class="m-row">
                <div>5</div>
                <div>Jouni-Cybercom</div>
                <div>2964.209</div>
            </div>
            <div class="m-row">
                <div>6</div>
                <div>maeda-ai</div>
                <div>2964.173</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
            <div class="m-row">
                <div>7</div>
                <div>sola-DNPds</div>
                <div>2963.992</div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="./leaderboard.js"></script>
