<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>league</title>
    <link rel="stylesheet" href="/league.css">
</head>

<body>
    <figure class="lb-logo">
        <div>
            <img src="/deepracer.png" width="300">
        </div>
    </figure>

    <h1 class="lb-title"></h1>

    <div class="lb-container">
        <div class="lb-items lb-initial">
            <div class="lb-header">
                <div>Position</div>
                <div>Name</div>
                <div>Time</div>
            </div>
        </div>
    </div>

    <footer class="lb-footer">
    </footer>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery-3.3.1.min.js"></script>

<script>
    let league = '<%= league %>';
</script>
<script src="/league.js"></script>
