<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>league</title>
    <link rel="stylesheet" href="/league.css">
</head>

<body>
    <figure class="lb-logo">
        <div>
            <img src="/deepracer.png" width="300">
        </div>
    </figure>

    <h1 class="lb-title"></h1>

    <div class="lb-container">
        <div class="lb-items lb-initial">
            <div class="lb-header">
                <div>Position</div>
                <div>Name</div>
                <div>Time</div>
            </div>
        </div>
    </div>

    <div id="container"></div>

    <footer class="lb-footer">
    </footer>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery-3.3.1.min.js"></script>

<script>
    let league = '<%= league %>';
</script>
<script src="/league.js"></script>

<style>
    #container {
        display: block;
        margin: 15px 0;
        border: 1px solid white;
        width: 100%;
        height: 500px
    }
</style>
<script src="/polyfill.min.js"></script>
<script src="/fireworks.js"></script>
<script>
    var container = document.getElementById('container');
    var options = {
        maxRockets: 3, // max # of rockets to spawn
        rocketSpawnInterval: 150, // millisends to check if new rockets should spawn
        numParticles: 100, // number of particles to spawn when rocket explodes (+0-10)
        explosionMinHeight: 0.2, // percentage. min height at which rockets can explode
        explosionMaxHeight: 0.9, // percentage. max height before a particle is exploded
        explosionChance: 0.08 // chance in each tick the rocket will explode
    };

    var fireworks = new Fireworks(container, options);
    fireworks.start();
    // fireworks.kill();
    // fireworks.stop();
</script>
