<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>league</title>
    <link rel="stylesheet" href="/league.css">
    <link rel="stylesheet" href="/flip.css">
    <link rel="stylesheet" href="/pop.css">
</head>

<body>
    <figure class="lb-logo">
        <div class="lb-logo-front"><img src="/icon-trophy.png"></div>
    </figure>

    <h1 class="lb-title"></h1>

    <div class="lb-container">
        <div class="lb-items lb-initial">
            <div class="lb-header">
                <div>Rank</div>
                <div>Name</div>
                <div>Time</div>
            </div>
        </div>
    </div>

    <div class="pop-logo">
        <div class="lb-logo-back"><img src="/icon-trophy.png"></div>
    </div>

    <div class="pop-layer">
        <div class="pop-bg"></div>
        <div class="pop-container">
            <div class="pop-title">New Record!</div>
            <div class="pop-racer">DeepRacer</div>
            <div class="pop-time">00:00.000</div>
        </div>
    </div>

    <footer class="lb-footer"></footer>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery-3.3.1.min.js"></script>
<script src="/flip.js"></script>

<script>
    let league = '<%= league %>';
</script>
<script src="/league.js"></script>
