@font-face {
  font-family: sf-mono;
  src: url("/fonts/sf-mono-regular.woff");
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #000;
  color: #eee;
  font-family: sf-mono, Noto Mono;
}

a {
  text-decoration: none;
}

.lb-logo {
  height: 800px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 5%;
  width: 100%;
  height: 70%;
}

.lb-logo-front,
.lb-logo-back {
  height: 100%;
}

.lb-logo-front img,
.lb-logo-back img {
  height: 100%;
}

.lb-title {
  position: fixed;
  text-align: center;
  top: 80%;
  width: 100%;
}

.btn-link {
  background-color: #e71;
  background-image: linear-gradient(180deg, #f71 0, #e50);
  border-color: #e60 #e50 #e50;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 4rem 1rem 4rem;
}
