* {
    margin: 0;
    padding: 0;
}

html {
    background: #111;
    color: #eee;
    font-family: Menlo, Noto Mono;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

div {
    display: block;
}

.lb-img {
    display: block;
    margin: 15px 0;
    line-height: 0;
    overflow: hidden;
    text-align: center;
}

.lb-align-center {
    text-align: center;
}

.lb-txt-bold {
    font-weight: 500;
}

.lb-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-leaderboard-items {
    max-width: 1200px;
    margin: 0 auto;
}

.m-leaderboard-items .m-header {
    text-transform: uppercase;
    color: #aaa;
}

.m-leaderboard-items .m-header, .m-leaderboard-items .m-row {
    width: 100%;
    display: flex;
}

.m-leaderboard-items .m-header>div, .m-leaderboard-items .m-row>div {
    padding: 15px 30px;
    text-align: center;
}

.m-leaderboard-items .m-header>div:nth-child(1), .m-leaderboard-items .m-row>div:nth-child(1) {
    width: 15%;
    min-width: 130px;
}

.m-leaderboard-items .m-header>div:nth-child(2), .m-leaderboard-items .m-row>div:nth-child(2) {
    width: 35%;
    margin-right: auto;
    text-align: left;
}

.m-leaderboard-items .m-header>div:nth-child(n+3), .m-leaderboard-items .m-row>div:nth-child(n+3) {
    display: block;
    width: 15%;
    text-align: left;
}

.m-leaderboard-items.m-initial .m-row:nth-child(n+2):nth-child(-n+4) {
    margin-bottom: 10px;
    font-size: 16px;
    font-size: 1.6rem;
}

.m-leaderboard-items.m-initial .m-row:nth-child(n+2):nth-child(-n+4)>div:nth-child(-n+2) {
    color: #232f3e;
}

.m-leaderboard-items.m-initial .m-row:nth-child(2) {
    background: linear-gradient(90deg,#fbdf47 0,#a66103);
}

.m-leaderboard-items.m-initial .m-row:nth-child(3) {
    background: linear-gradient(90deg,#cacacd 0,#64656b);
}

.m-leaderboard-items.m-initial .m-row:nth-child(4) {
    background: linear-gradient(90deg,#fac07b 0,#8f6347);
}

.m-leaderboard-items .m-row {
    margin-bottom: 5px;
    background: linear-gradient(90deg,#405666 0,#3d246b);
    color: #fff;
}

.icon-trophy {
    background: url(/trophy.png) no-repeat top left;
    display: inline-block;
    height: 17px;
    width: 30px;
}
