* {
    margin: 0;
    padding: 0;
}

html {
    background: #111;
    color: #eee;
    font-family: Menlo, Noto Mono;
}

figure {
    display: block;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 40px;
    margin-inline-start: 40px;
}

div {
    display: block;
}

.lb-logo {
    display: block;
    line-height: 0;
    margin: 15px 0;
    overflow: hidden;
    text-align: center;
}

.lb-title {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.lb-items {
    margin: 0 auto;
    max-width: 1200px;
}

.lb-items .lb-header {
    color: #aaa;
    text-transform: uppercase;
}

.lb-items .lb-header,
.lb-items .lb-row {
    display: flex;
    width: 100%;
}

.lb-items .lb-header>div,
.lb-items .lb-row>div {
    padding: 15px 30px;
    text-align: center;
}

.lb-items .lb-header>div:nth-child(1),
.lb-items .lb-row>div:nth-child(1) {
    min-width: 130px;
    width: 15%;
}

.lb-items .lb-header>div:nth-child(2),
.lb-items .lb-row>div:nth-child(2) {
    margin-right: auto;
    text-align: left;
    width: 35%;
}

.lb-items .lb-header>div:nth-child(n+3),
.lb-items .lb-row>div:nth-child(n+3) {
    display: block;
    text-align: left;
    width: 15%;
}

.lb-items.lb-initial .lb-row:nth-child(n+2):nth-child(-n+4) {
    font-size: 1.6rem;
    font-size: 16px;
    margin-bottom: 10px;
}

.lb-items.lb-initial .lb-row:nth-child(n+2):nth-child(-n+4)>div:nth-child(-n+2) {
    color: #232f3e;
}

.lb-items.lb-initial .lb-row:nth-child(2) {
    background: linear-gradient(90deg, #fbdf47 0, #a66103);
}

.lb-items.lb-initial .lb-row:nth-child(3) {
    background: linear-gradient(90deg, #cacacd 0, #64656b);
}

.lb-items.lb-initial .lb-row:nth-child(4) {
    background: linear-gradient(90deg, #fac07b 0, #8f6347);
}

.lb-items .lb-row {
    background: linear-gradient(90deg, #405666 0, #3d246b);
    color: #fff;
    margin-bottom: 5px;
}

.icon-trophy {
    background: url(/trophy.png) no-repeat top left;
    display: inline-block;
    height: 17px;
    width: 30px;
}

.lb-footer {
    height: 50px;
}

.pop-layer {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.pop-layer .pop-bg {
    background: #000;
    filter: alpha(opacity=50);
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
}

.pop-layer .pop-container {
    height: auto;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}

.pop-layer .pop-container .pop-title {
    padding: 1%;
    font-size: 3vw;
}

.pop-layer .pop-container .pop-racer {
    padding: 1%;
    font-size: 10vw;
}

.pop-layer .pop-container .pop-time {
    padding: 1%;
    font-size: 5vw;
}
