* {
    margin: 0;
    padding: 0;
}

html {
    background: #111;
    color: #eee;
    font-family: Menlo, Noto Mono;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

div {
    display: block;
}

.lb-logo {
    display: block;
    margin: 15px 0;
    line-height: 0;
    overflow: hidden;
    text-align: center;
}

.lb-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.lb-items {
    max-width: 1200px;
    margin: 0 auto;
}

.lb-items .lb-header {
    text-transform: uppercase;
    color: #aaa;
}

.lb-items .lb-header,
.lb-items .lb-row {
    width: 100%;
    display: flex;
}

.lb-items .lb-header>div,
.lb-items .lb-row>div {
    padding: 15px 30px;
    text-align: center;
}

.lb-items .lb-header>div:nth-child(1),
.lb-items .lb-row>div:nth-child(1) {
    width: 15%;
    min-width: 130px;
}

.lb-items .lb-header>div:nth-child(2),
.lb-items .lb-row>div:nth-child(2) {
    width: 35%;
    margin-right: auto;
    text-align: left;
}

.lb-items .lb-header>div:nth-child(n+3),
.lb-items .lb-row>div:nth-child(n+3) {
    display: block;
    width: 15%;
    text-align: left;
}

.lb-items.lb-initial .lb-row:nth-child(n+2):nth-child(-n+4) {
    margin-bottom: 10px;
    font-size: 16px;
    font-size: 1.6rem;
}

.lb-items.lb-initial .lb-row:nth-child(n+2):nth-child(-n+4)>div:nth-child(-n+2) {
    color: #232f3e;
}

.lb-items.lb-initial .lb-row:nth-child(2) {
    background: linear-gradient(90deg, #fbdf47 0, #a66103);
}

.lb-items.lb-initial .lb-row:nth-child(3) {
    background: linear-gradient(90deg, #cacacd 0, #64656b);
}

.lb-items.lb-initial .lb-row:nth-child(4) {
    background: linear-gradient(90deg, #fac07b 0, #8f6347);
}

.lb-items .lb-row {
    margin-bottom: 5px;
    background: linear-gradient(90deg, #405666 0, #3d246b);
    color: #fff;
}

.icon-trophy {
    background: url(/trophy.png) no-repeat top left;
    display: inline-block;
    height: 17px;
    width: 30px;
}

.lb-footer {
    height: 50px;
}
