* {
    margin: 0;
    padding: 0;
}

html {
    background: #333;
    color: #ddd;
    font-family: Menlo, Noto Mono;
}

.controls {
    position: fixed;
    text-align: center;
    top: 1em;
    width: 100%;
}

.button {
    font-size: 4vw;
    margin: 0 0.5em;
    text-decoration: none;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    color: #eee;
}

.btn_start {
    color: #3b7;
}

.btn_pause {
    color: #fa3;
}

.btn_passed {
    color: #4af;
}

.btn_reset {
    color: #e43;
}

.btn_clear {
    color: #ddd;
}

.stopwatch {
    font-size: 17vw;
    height: 100%;
    line-height: 90vh;
    text-align: center;
}

.results {
    font-size: 2vw;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0.2em;
    transform: translateX(-50%);
}
